:root {
    --standard-padding-x: 10vw;

    --big-font-size: 32px;
    --medium-font-size: 24px;
    --small-font-size: 16px;
    --xxl-font-size: 100px;

    --frontpage-title-text-outline: 1px;
    --frontpage-title-text-outline-neg: calc(-1* var(--frontpage-title-text-outline));
    
    --theme-background-color: azure;
    --theme-text-color: #374151;
    --theme-section-background-color: #bbcaca;
    --theme-section-shadow-color: #3f4145;
    --theme-nav-text-color: #374151;
    --theme-title-highlight-color: #3b82f6;
    --theme-nav-shadow: rgba(0, 0, 0, 0.2);
    --theme-icon-color: #1f1f1f;
    --theme-icon-hover-color: #3b82f6;
    --theme-menu-content-color: #1f1f1f;
    --theme-menu-content-hover-color: #3b82f6;
    --theme-menu-background-color: azure;
    --theme-frontpage-title-text-color: #374151;
    
}

body.dark-theme {
    --theme-background-color: #27282b;
    --theme-section-background-color: #1e1f21;
    --theme-section-shadow-color: #3f4145;
    --theme-text-color: azure;
    --theme-nav-text-color: #6d7580;
    --theme-title-highlight-color: #3b82f6;
    --theme-nav-shadow: rgba(80, 78, 78, 0.2);
    --theme-icon-color: azure;
    --theme-icon-hover-color: #3b82f6;
    --theme-menu-background-color: #34353a;
    --theme-menu-content-color: azure;
    --theme-menu-content-hover-color: #3b82f6;
    --theme-frontpage-title-text-color: #7c7c7c;
}
