:root {
    --standard-padding-x: 10vw;

    --big-font-size: 3vw;
    --medium-font-size: 2.5vw;
    --small-font-size: 1vw;
    --xl-font-size: 5vw;
    --xxl-font-size: 10vw;

    --dark-shadow-color: rgba(0, 0, 0, 0.2);

    --header-title-text-outline: 1px;
    --header-title-text-outline-neg: calc(-1* var(--header-title-text-outline));
    
    --theme-background-color: #B8B8B8;
    --theme-text-color: #251605;
    --theme-section-background-color: #61584c;
    --theme-section-shadow-color: #3f4145;
    --theme-nav-text-color: #251605;
    --theme-highlight-color: #443828;
    --theme-nav-shadow: #251605;
    --theme-icon-color: #7e7870;
    --theme-icon-hover-color: #443828;
    --theme-menu-content-color: #251605;
    --theme-menu-content-hover-color: #443828;
    --theme-menu-background-color: #61584c;
    --theme-header-title-text-color: #251605;
    --theme-typewriter-cursor-color: #61584c;
    --theme-subtle-standout-color: #9b9894;
    --theme-to-top-arrow-background: #61584c;
}

/* remove:  
I see every bug as a breadcrumb leading to a better solution.
I believe great code is both logical and expressive.
I build with both curiosity and intention.


i like:
Complexity doesn't scare me—it inspires me.
Every problem is an opportunity in disguise.
I think in patterns, not panic.
I don’t look for quick fixes—I look for lasting solutions.
I turn constraints into creative opportunities.
 */

body.dark-theme {
    --theme-background-color: #311c11;
    --theme-text-color: #fbf6cb;
    --theme-section-background-color: #2b2a27;
    --theme-section-shadow-color: #3f4145;
    --theme-nav-text-color: #fbf6cb;
    --theme-highlight-color: #dfa14a;
    --theme-nav-shadow: rgba(80, 78, 78, 0.2);
    --theme-icon-color: #fbf6cb;
    --theme-icon-hover-color: #dfa14a;
    --theme-menu-content-color: #fbf6cb;
    --theme-menu-content-hover-color: #dfa14a;
    --theme-menu-background-color: #2b2a27;
    --theme-header-title-text-color: #fbf6cb;
    --theme-typewriter-cursor-color: #dfa14a;
    --theme-subtle-standout-color: #3f2a20;
    --theme-to-top-arrow-background: #53382c;
}
