:root {
    --standard-padding-x: 10vw;

    --big-font-size: max(3vw,20px);
    --medium-font-size: max(2.5vw,14px);
    --small-font-size: max(2.5vw,14px);
    --xl-font-size: 5vw;
    --xxl-font-size: 7vw;
    --xxxl-font-size: 10vw;

    --dark-shadow-color: rgba(0, 0, 0, 0.2);

    --header-title-text-outline: 1px;
    --header-title-text-outline-neg: calc(-1* var(--header-title-text-outline));
    
    --theme-background-color: #FFFFFF;
    --theme-text-color: #000000;
    --theme-section-background-color: #F0F0F0;
    --theme-section-shadow-color: #C0C0C0;
    --theme-nav-text-color: #000000;
    --theme-highlight-color: #0000FF;
    --theme-nav-shadow: #A0A0A0;
    --theme-icon-color: #808080;
    --theme-icon-hover-color: #0000FF;
    --theme-menu-content-color: #000000;
    --theme-menu-content-hover-color: #0000FF;
    --theme-menu-background-color: #F0F0F0;
    --theme-header-title-text-color: #000000;
    --theme-typewriter-cursor-color: #F0F0F0;
    --theme-subtle-standout-color: #E0E0E0;
    --theme-to-top-arrow-background: #E0E0E0;
}

/* remove:  
I see every bug as a breadcrumb leading to a better solution.
I believe great code is both logical and expressive.
I build with both curiosity and intention.


i like:
Complexity doesn't scare me—it inspires me.
Every problem is an opportunity in disguise.
I think in patterns, not panic.
I don’t look for quick fixes—I look for lasting solutions.
I turn constraints into creative opportunities.
 */

body.dark-theme {
    --theme-background-color: #311c11;
    --theme-text-color: #fbf6cb;
    --theme-section-background-color: #2b2a27;
    --theme-section-shadow-color: #3f4145;
    --theme-nav-text-color: #fbf6cb;
    --theme-highlight-color: #dfa14a;
    --theme-nav-shadow: rgba(80, 78, 78, 0.2);
    --theme-icon-color: #fbf6cb;
    --theme-icon-hover-color: #dfa14a;
    --theme-menu-content-color: #fbf6cb;
    --theme-menu-content-hover-color: #dfa14a;
    --theme-menu-background-color: #2b2a27;
    --theme-header-title-text-color: #fbf6cb;
    --theme-typewriter-cursor-color: #dfa14a;
    --theme-subtle-standout-color: #3f2a20;
    --theme-to-top-arrow-background: #53382c;
}
